---
- name: Create monitoring directory
  file:
    path: /opt/monitoring
    state: directory
    mode: '0755'

- name: Copy Prometheus config
  template:
    src: prometheus.yml.j2
    dest: /opt/monitoring/prometheus.yml
    mode: '0644'

- name: Copy docker-compose for monitoring
  template:
    src: docker-compose.yml.j2
    dest: /opt/monitoring/docker-compose.yml
    mode: '0644'

- name: Start monitoring stack
  docker_compose:
    project_src: /opt/monitoring
    state: present
  register: monitoring_output
