apiVersion: v1
kind: Namespace
metadata:
  name: development
  labels:
    env: dev
---
apiVersion: v1
kind: Namespace
metadata:
  name: staging
  labels:
    env: staging
---
apiVersion: v1
kind: Namespace
metadata:
  name: production
  labels:
    env: prod
