apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  namespace: production
type: Opaque
data:
  username: YWRtaW4=
  password: cGFzc3dvcmQxMjM=
  connection-string: cG9zdGdyZXM6Ly9hZG1pbjpwYXNzd29yZDEyM0Bwb3N0Z3Jlczo1NDMyL2FwcGRi
