apiVersion: v1
kind: Service
metadata:
  name: backend-api-svc
  namespace: production
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30001
    protocol: TCP
  selector:
    app: api
    tier: backend
  sessionAffinity: ClientIP
